@charset "utf-8";

/*cores que vopu usar
 branco : #FBFDF2
 marrom : #6E7372
 cinza :  #5A5E61
 marrom clarinho : #ABA7A4
 cinza : #474B4E
 preto : #1E2325
 marrom forte : #7E6F66
 
 
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #fefefe;
    height: 10vh;
}

.header, a{
    text-decoration: none;
}

.header{
    background:  #fffefe ;
    padding-inline: 16px;
}

.nav{
    
    max-width: 1280px;
    height: 80px;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 40px;
    
}
.logo img{
    align-items: left;
    height: 50px;
   
}

.nav-list{
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-list a{
    font-size: 18px;
    color: #fff;
    padding-block: 16px;
}

.hero{
    height: calc(100vh -70px);

}
.hamburger{
    display: block;
    border: none;
    background: none;
    border-top: 3px solid #020202;
    cursor: pointer;
   
}

.hamburger::before {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #000000;
    margin-top: 5px;
}

.hamburger::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #000000;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}
/*Configuraçoes do inicio*/
main{
    margin-top: 50px;
    
}
section#start h1{
    margin: 20px;
    text-align: left;
    font-weight: bolder;
    font-size: 25px;
    
}
span{
    color: #71645c;
}
section#start p{
    font-size: 14px;
    text-align: left;
    margin: 10px;
}
section#start img{
    height: 300px;
    max-width: 800px;
   justify-content: center;
   border-radius: 40px 40px 40px 40px;
   display: block;
   margin: 0 auto;
   background-color: #97918d;
   box-shadow: 5px 5px 5px #000000;
}
.botao1{
    display: none;
}

/*configuracao do sobre*/

#sobre{
    background-color: #bcb0a7;
    border-radius: 2%;
   padding: 40px 4%;
   box-shadow: 1px 1px 1px #000000;
}
#sobre .text h3{
    font-size: 15px ;
    text-align: center;
    margin-bottom: 50px;
}

section,text, h2{
    text-align: center;
    font-size: 25px;
    margin-bottom: 80px;
}
#sobre .text h2{
    height: 30px;
}
#sobre .text p{
    text-align: left;
    font-size: small;
}
/* config no port*/
section.especialidades {
    padding: 10px 4%;
    color: #3a3430;

}

section.especialidades .lex {
    gap: 60px;
}
.especialidades .interface .titulo span{
    color: #927b6c;
}

.especialidades .especialidadebox {
    color: rgb(62, 66, 66);
    padding: 40px;
    border-radius: 20px;
    border: 2px solid black;
    margin-top: 45px;
    transition: 0.2s;
}

.especialidades .especialidadebox:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.55);

}

.especialidades .especialidadebox i {
    font-size: 70px;
    color: rgb(15, 14, 14);
    transform: translate(-50%);
}

.especialidades .especialidadebox h3 {
    font-size: 28px;
    margin: 15px 0;
   
    } 
    .especialidades .especialidadebox P{
        font-size: medium;
    }
    .especialidade p > span{
        font-size: larger;
    }
.especialidades .especialidadebox ,i{
        text-align: center;
        
       
    }
    /*contatos*/
    section#contatos h2{
        
    }
    section#contatos p{
        font-size: large;

    }
    .amigo img{
        height: 250px;
        width: 250px;
        border-radius: 20px;
        box-shadow: 5px 5px 5px black;
    }
    /*footer*/
    footer {
        padding: 40px;
    
    }
    
    footer .line-footer {
        padding: 20px 0;
        border-radius: 1px;
    }
    
    footer .line-footer p i {
        font-size: 22px;
    }
    
    footer .line-footer p a {
        color: rgb(45, 46, 46);
    
    }
    .botaosocial button {
        width: 60px;
        height: 60px;
        border-radius: 35%;
        border: none;
        background-color: rgb(123, 117, 117);
        font-size: 22px;
        cursor: pointer;
        margin: 0 5px;
        transition: 0.2s;
    }
    
    .botaosocial button:hover {
        box-shadow: 0px 0px 8px rgb(139, 137, 137);
        transform: scale(1.05);
    }
    
    .vex {
        display: flex;
        justify-content: space-between;
    }
    
    .borda {
        border-top: 2px solid rgb(60, 59, 59);
    }
    
    footer img {
        height: 90px;
        width: 90px;
        border-radius: 10%;
    }
    flex{
        display: flex;
    }
    
    section#contatos h6{
        margin: 10px;
    }
    section#contatos p{
        margin: 10px;
    }

    @media (max-width: 750px){
        .hamburger{
            display: block;
            z-index: 1;
            
        }
        .nav-list{
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background: #8c8787 ;
            clip-path: circle(100px at 90% -15%);
            transition: 1s ease-in-out;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            gap: 0;
            pointer-events: none;
        }
        .nav-list a {
            font-size: 24px;
            opacity: 0;
        }
        .nav-list li:nth-child(1) a {
            transition: 0.5s 0.2s;

        }
        .nav-list li:nth-child(2) a {
            transition: 0.5s 0.4s;
            
        }
        .nav-list li:nth-child(3) a {
            transition: 0.5s 0.6s;
            
        }
        .nav.active .nav-list{
            clip-path: circle(1500px at 90% -15%);
            pointer-events: all;
        }
        .nav.active .nav-list a{
            opacity: 1;
        }
        .nav.active  .hamburger{
            position: fixed;
            top: 26px;
            right: 16px;
            border-top-color: transparent;
        }
        .nav.active  .hamburger::before{
            transform: rotate(135deg);
        }
        .nav.active  .hamburger::after{
            transform: rotate(-135deg);
            top: -7px;
        }
    }
    @media (min-width: 750px){
        .nav-list{
            display: flex;
            gap: 32px;
            list-style: none;
        }
        
        .nav-list a{
            color: #0f0e0e;
            
        }
        .hamburger{
            display: none;
        }
        
        .hamburger::before {
            display: none; 
        }
        
        .hamburger::after {
            display: none; 
        }



        main{
            margin-top: 50px;
            
        }
        section#start h1{
            margin: 20px;
            text-align: left;
            font-weight: bolder;
            font-size: 25px;
            
        }
        span{
            color: #71645c;
        }
        section#start p{
            font-size: 14px;
            text-align: left;
            margin: 10px;
        }
        section#start img{
            height: 500px;
            max-width: 800px;
           justify-content: center;
           border-radius: 40px 40px 40px 40px;
           display: block;
           margin: 0 auto;
           background-color: #97918d;
           box-shadow: 5px 5px 5px #000000;
        }
        .botao1{
            display: none;
        }
        

    }
    